*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

/*HEADER*/
.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__search {
  margin-left: 41px;
}

.header__icons:not(:last-child) {
  margin-right: 33px;
}

.header__icons {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}

.header__icons:hover {
  color: #f16d7f;
}

.header__icons svg > path {
  -webkit-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

.header__icons:hover svg path {
  fill: #f16d7f;
}

/*NAV__PAGE*/
.nav__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 148px;
  background: #f8f3f4;
}

.page__name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.unactive__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.unactive__link:hover {
  color: #f16d7f;
}

ul.breadcrumb li + li:before {
  padding: 4px;
  content: "/\00a0";
  color: #636363;
}

.active__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

/*CLOTHES*/
.clothes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  height: 777px;
}

.clothes__link {
  display: inline-block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px;
  background: rgba(42, 42, 42, 0.15);
}

.clothes__icons:hover > path {
  fill: #f16d7f;
}

/*CHOICE MENU*/
.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
}

.choice__card {
  position: relative;
  bottom: 50px;
  background: #fff;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eaeaea;
}

.choice__top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 640px;
}

.choice__supheading {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin-top: 64px;
}

.choice__supheading::after {
  content: "";
  display: block;
  width: 63px;
  height: 3px;
  background: #ef5b70;
  margin: 12px auto;
}

.choice__subheading {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  margin-bottom: 48px;
}

.choice__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  margin-bottom: 32px;
}

.choice__price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

.choice__hr {
  border-bottom: 1px solid #eaeaea;
  display: block;
  width: 640px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.choice__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choice__filter__items {
  position: relative;
  display: inline-block;
  margin-left: 28px;
}

.choice__filter__items .dropdown__items__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.choice__filter__items ul {
  position: absolute;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  list-style: none;
  min-width: 80px;
  display: none;
  z-index: 1;
}

.choice__filter__items ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
  padding: 4px;
  margin: 0px;
}

.choice__filter__items ul li input {
  margin-right: 10px;
}

.choice__filter__items:hover ul {
  display: block;
}

.choice__items__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.choice__btn {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px auto;
  padding: 12px 56px;
  border: 1px solid #ff6a6a;
  -webkit-transition: background 0.1s linear, color 0.1s linear;
  transition: background 0.1s linear, color 0.1s linear;
}

.choice__btn:hover {
  color: #ffffff;
  background: #f16d7f;
}

.choice__cart path {
  fill: #f16d7f;
}

.choice__cart {
  margin-right: 11px;
}

.choice__btn:hover .choice__cart path {
  fill: #ffffff;
}

/*PRODUCT*/
.product__header {
  text-align: center;
}

.product__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.product__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 48px;
  gap: 30px;
}

.cards__item {
  height: 581px;
  width: 360px;
  background: #f8f8f8;
  position: relative;
}

.cards__img {
  background: rgba(58, 56, 56, 0.86);
}

.cards__img img {
  display: block;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  width: 100%;
}

.cards__item:hover .cards__img img {
  opacity: 0.2;
}

.cards__item:hover .cards__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__add {
  position: absolute;
  top: 188px;
  left: 111px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ffffff;
  width: 139px;
  height: 44px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.cards__add:hover {
  background-color: #fff;
  color: #000;
}

.cards__add:hover .cards__cart path {
  fill: black;
}

.cards__cart {
  margin-right: 11px;
}

.cards__list {
  margin-left: 16px;
  margin-right: 28px;
}

.cards__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 12px;
}

.cards__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding-bottom: 20px;
}

.cards__price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

/*INFO*/
.subscribe {
  height: 448px;
  background: url(../../img/photosubscribe.png);
  background-position: center;
  background-repeat: no-repeat;
}

.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 100px;
}

.sub__info {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sub__img {
  display: block;
  height: 96px;
  width: 96px;
  margin-bottom: 20px;
}

.sub__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.sub__form {
  width: 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sub__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  margin-bottom: 27px;
  color: #222224;
}

.sub__heading_select {
  font-weight: bold;
  text-align: center;
}

.sub__email {
  width: 322px;
  height: 50px;
  background: #e1e1e1;
  border-radius: 30px 0 0 30px;
  border: none;
  padding-left: 20px;
}

.sub__submit {
  width: 100px;
  height: 50px;
  background: #f16d7f;
  border-radius: 0 30px 30px 0;
  border: none;
  color: #e1e1e1;
}

/*FOOTER*/
.footer {
  background: #222222;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.7;
  color: #fbfbfb;
}

.footer__icons {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}

.footer__icons:hover {
  color: #f16d7f;
}

.footer__icons svg > path {
  -webkit-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

.footer__icons:hover svg path {
  fill: #f16d7f;
}
/*# sourceMappingURL=product__style.css.map */